<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {{ 'helvetica-neue-5/HelveticaNeueRoman.otf' | asset_url | preload_tag: as: 'font', crossorigin: 'anonymous' }}


    {% # Theme CSS %}
    {{ 'theme.css' | asset_url | stylesheet_tag }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}

    {% # Theme JS %}
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
  </body>
</html>
